{% extends 'base.html' %}

{% block content %}
    <blockquote>
        <p>渣神的由来,高中那会玩LOL,朋友间我挺渣,不是最菜好吗<br></p>
        <p>然后一个朋友开始叫我渣神,然后就都叫我渣神,想飞的渣神<br></p>
        <p>高考后的暑假自学了C语言,入门但不精<br></p>
        <p>大一第一学期,听从师兄的建议去学了会PHP<br></p>
        <p>在学习PHP的过程中,发现这是一门主要用于Web领域的语言<br></p>
        <p>所以又便去了解了Web,而后学习了html,css,js<br></p>
        <p>而后就依靠着php写了一段时间的代码,积累了点点经验<br></p>
        <p>期间有尝试着写了点简单的东西,像留言板,小型贴吧,论坛等<br></p>
        <p>但是一直没有尝试着做一个完整的项目<br></p>
        <p>大一第二学期,又回过头,学了会C语言,把指针链表这些弄懂<br></p>
        <p>然后又写了会前端东西,仿了点东西的首页,用jq写了点js特效<br></p>
        <p>大一后的暑假,学了Tp框架,用tp框架搭建了一个博客<br></p>
        <p>没有后台,前台前端也是自己在看了别人的博客后,用bootstrap搭的<br></p>
        <p>中间又拿了点时间看了会python,尝试自己写了爬虫爬了下网页<br></p>
        <p>然后自己写了个爬虫用来爬取学校的教务系统,能成功登陆<br></p>
        <p>但是不能绕过验证码,只能自己手动输验证码后登陆,小失败<br></p>
        <p>而后开始学习linux系统的操作,装虚拟机下镜像自己玩,敲命令<br></p>
        <p>然后将博客系统放入了腾讯云大学生优惠服务器上运行<br></p>
        <p>大二了,在师兄的建议下学了laravel框架,这是一门很强的框架<br></p>
        <p>只有越接触才越发觉自己还是有很多不懂的地方,需要学习<br></p>
        <p>学完了该实践了,和同学合作了写了学校计算机协会的<a href="http://xiao.aviouy.cn/Repair/" style="text-decoration: underline">报修系统</a><br></p>
        <p>当然我好像只出了30%的力,系统也是运行在他的服务器上<br></p>
        <p>现在,双十一光棍节,屌丝正在敲着这一份代码<br></p>
        <p>用laravel框架重新将博客系统改写了,也加了博客后台系统<br></p>
        <p>以后这博客系统,便用来记录自己的学习历程<br></p>
        <footer>by飞翔的渣神丶 from 2016年11月11日 20:50:42 <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
{% endblock %}